<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://customerinfofunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0222d1c-3eba-4694-a611-b174aa7009a3/resourceGroups/AzureAcademy/providers/Microsoft.Web/sites/CustomerInfoFunctionApp</ResourceId>
    <UserName>$CustomerInfoFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://customerinfofunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>